a, a:active {
    color: #3CA2A2;
    text-decoration: none;
}

a:hover {
    color: #215A6D;
    text-decoration: none;
}

body {
    background-color: #2D2D2D;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 900px;
}

code {
    font-family: monospace;
    background-color: #212121;
    font-size: 14px;
    padding: 0px 2px;
    vertical-align: middle;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

li {
    margin-bottom: 6px;
}

div#header {
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: #E8BA3F;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    color: #969696;
    font-size: 12px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.info {
    color: #969696;
    font-size: 14px;
    font-style: italic;
}

div#content {
    background-color: #3B3B3B;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

input[type="button"] {
    background-color: #375A7F;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type="button"]:hover {
    background-color: #2B4764;
}

input[type="button"]:not(:disabled) {
    cursor: pointer;
}

.fab, .fas {
    font-size: 2em;
}
