---
title: extensible proof-of-stake network
titleOnlyInHead: 1
---

<img src="/images/logo.png" alt="logo" style="float: right; margin: 10px;">

<p>Blacknet is extensible proof-of-stake network.</p>
<p>It's in development.</p>
<p>No premine. No ICO. No foundation.</p>

<h2>Planned features</h2>
<ul>
    <li>Accounts-based proof of stake</li>
    <li>Cold staking</li>
    <li>Atomic Swaps</li>
    <li>Voting</li>
    <li>Encrypted messages</li>
    <li>Permissionless extensions</li>
</ul>

<h2>Directions for further research</h2>
<ul>
    <li>Proof of stake</li>
    <li>Decentralized exchanges</li>
    <li>Zero-knowledge extensions</li>
</ul>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
